In [1]:
#import libraries
import numpy as np
import pandas as pd

In [2]:
#Load dataset
data=pd.read_csv('bank.csv')

In [3]:
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

In [4]:
data.info

<bound method DataFrame.info of        age          job  marital  education default  balance housing loan  \
0       59       admin.  married  secondary      no     2343     yes   no
1       56       admin.  married  secondary      no       45      no   no
2       41   technician  married  secondary      no     1270     yes   no
3       55     services  married  secondary      no     2476     yes   no
4       54       admin.  married   tertiary      no      184      no   no
...    ...          ...      ...        ...     ...      ...     ...  ...
11157   33  blue-collar   single    primary      no        1     yes   no
11158   39     services  married  secondary      no      733      no   no
11159   32   technician   single  secondary      no       29      no   no
11160   43   technician  married  secondary      no        0      no  yes
11161   34   technician  married  secondary      no        0      no   no

        contact  day month  duration  campaign  pdays  previous poutcome  \
0       unknown    5   may      1042         1     -1         0  unknown
1       unknown    5   may      1467         1     -1         0  unknown
2       unknown    5   may      1389         1     -1         0  unknown
3       unknown    5   may       579         1     -1         0  unknown
4       unknown    5   may       673         2     -1         0  unknown
...         ...  ...   ...       ...       ...    ...       ...      ...
11157  cellular   20   apr       257         1     -1         0  unknown
11158   unknown   16   jun        83         4     -1         0  unknown
11159  cellular   19   aug       156         2     -1         0  unknown
11160  cellular    8   may         9         2    172         5  failure
11161  cellular    9   jul       628         1     -1         0  unknown

      deposit
0         yes
1         yes
2         yes
3         yes
4         yes
...       ...
11157      no
11158      no
11159      no
11160      no
11161      no

[11162 rows x 17 columns]>

In [5]:
data.describe()

,age,balance,day,duration,campaign,pdays,previous
count,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000
mean,41.231948,1528.538524,15.658036,371.993818,2.508421,51.330407,0.832557
std,11.913369,3225.413326,8.420740,347.128386,2.722077,108.758282,2.292007
min,18.000000,-6847.000000,1.000000,2.000000,1.000000,-1.000000,0.000000
25%,32.000000,122.000000,8.000000,138.000000,1.000000,-1.000000,0.000000
50%,39.000000,550.000000,15.000000,255.000000,2.000000,-1.000000,0.000000
75%,49.000000,1708.000000,22.000000,496.000000,3.000000,20.750000,1.000000
max,95.000000,81204.000000,31.000000,3881.000000,63.000000,854.000000,58.000000

In [6]:
#Handling missing data
data.isnull().any()

age          False
job          False
marital      False
education    False
default      False
balance      False
housing      False
loan         False
contact      False
day          False
month        False
duration     False
campaign     False
pdays        False
previous     False
poutcome     False
deposit      False
dtype: bool

In [7]:
#Converting textual data to numerical data using Label Encoding
data['job'].unique
data['marital'].unique
data['education'].unique
data['housing'].unique
data['loan'].unique
data['month'].unique

<bound method Series.unique of 0        may
1        may
2        may
3        may
4        may
        ...
11157    apr
11158    jun
11159    aug
11160    may
11161    jul
Name: month, Length: 11162, dtype: object>

In [11]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data['job']=le.fit_transform(data['job'])
data['marital']=le.fit_transform(data['marital'])
data['education']=le.fit_transform(data['education'])
data['housing']=le.fit_transform(data['housing'])
data['loan']=le.fit_transform(data['loan'])
data['month']=le.fit_transform(data['month'])

In [15]:
#One hot encoding numerical convert data to categorical data
x=data.iloc[:,0:17].values
y=data.iloc[:,16].values

In [19]:
from sklearn.preprocessing import OneHotEncoder
one=OneHotEncoder()
z=one.fit_transform(x[:,1:12]).toarray
x.shape

(11162, 17)

In [23]:
#Now dividing the dataset into test and train dataset
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [24]:
print(x_train)

[[49 4 1 ... 0 'unknown' 'no']
 [59 5 0 ... 0 'unknown' 'yes']
 [33 1 1 ... 0 'unknown' 'yes']
 ...
 [36 11 1 ... 0 'unknown' 'no']
 [31 0 1 ... 0 'unknown' 'no']
 [60 5 1 ... 0 'unknown' 'yes']]

In [25]:
print(x_test)

[[41 7 1 ... 2 'failure' 'no']
 [56 9 1 ... 4 'success' 'yes']
 [30 7 2 ... 0 'unknown' 'no']
 ...
 [35 10 1 ... 0 'unknown' 'yes']
 [53 0 2 ... 0 'unknown' 'yes']
 [40 7 1 ... 0 'unknown' 'no']]

In [26]:
print(y_train)

['no' 'yes' 'yes' ... 'no' 'no' 'yes']

In [27]:
print(y_test)

['no' 'yes' 'no' ... 'yes' 'yes' 'no']

In [ ]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler
x_train=sc.fit_transform(x_train)
y_train=sc.fit_transfrom(y_train)